
@{
    ViewBag.Title = "Iniciar";
}

<h2>Iniciar</h2>

<script>
    function DirrecionComprimir()
    {
        document.location.href = "/Huffman/CargaDeArchivo";
    }

</script>
<input type="button" name="but1" value="Comprimir" onclick="DirrecionComprimir()" />
