
@{
    ViewBag.Title = "Iniciar";
}



<script>
    function DirrecionComprimir()
    {
        document.location.href = "/Huffman/CargaDeArchivo";
    }
     function DirrecionComprimir2()
    {
        document.location.href = "/Huffman/ArchivoLZW";
    }
     function Descomprimir2()
    {
        document.location.href = "/Huffman/DescomprimirLZW";
    }

</script>

<style>
     #Menu {
            background-color: white;
            color: black;
            width: 25%;
            height: 60%;
            position: absolute;
            top: 30%;
            left: 35%;
            border-radius: 6px;
            border: 2px solid black;
        }
        .bt {
            text-decoration: none;
            font-weight: 400;
            font-size: 14px;
            color: #000000;
            background-color: transparent;
            border-width: 3px;
            border-style: solid;
            border-color: #000000;
            width: 65%;
            height: 10%;
            text-align: center;
        }
        .bt:hover{
            text-decoration: none;
            font-weight: 400;
            font-size: 14px;
            color: #000000;
            background-color: black;
            border-width: 3px;
            border-style: solid;
            border-color: white;
            color:white;
            width: 65%;
            height: 10%;
            text-align: center;
        }
</style>
<div id="Menu">
    <br />
    <center><h2 style="text-align:center">Huffman</h2></center><br /><br />
    <center> <input type="button" name="but1" value="Huffman" onclick="DirrecionComprimir()" class="bt" /></center><br /><br />
    <center> <input type="button" name="butcompresion" value="LZW compresion" onclick="DirrecionComprimir2()" class="bt" /></center>
    <center> <input type="button" name="butDescompresion2" value="LZW descompresion" onclick=" Descomprimir2()" class="bt" /></center>
</div>
